{% extends "base.html" %}
{% block content %}
<div id="main">
    <div id="welcome">
        <div class="title">
            <h2>About Me</h2>
        </div>
        <p>I am a <a href="https://cifellows2021.org/">CIF postdoctoral researcher</a> in the Computer Science department at the Virginia Tech. working with 
        <a href="https://wordpress.cs.vt.edu/3digroup/author/dbowman/">Dr. Doug Bowman</a> in the <a href="https://wordpress.cs.vt.edu/3digroup/">3D User Interactions Group</a>. I received my Ph.D. in Computer Science at the University of Minnesota and my M.S. in Computer Science at the University of Southern California under the advisement of <a href="https://illusioneering.cs.umn.edu/">Dr. Evan Suma Rosenberg</a>. My B.S. is in Electrical and Computer Engineering from the University of Minnesota Duluth under the advisementof Dr. Stan Burns. My research interests include Human Computer Interaction, Virtual and Augmented Reality, Virtual Locomotion, Redirected Walking, and Collaborative Virtual Environments. I will soon be seeking a tenure-track faculty position to begin once my postdoc is finished.</p>

        <h3>Contact:</h3>
        The best way to contact me is via email at <a href="javascript:location='mailto:\u006a\u0065\u0072\u0061\u006c\u0064\u006c\u0074\u0040\u0076\u0074\u002e\u0065\u0064\u0075';void 0"><script type="text/javascript">document.write('\u006a\u0065\u0072\u0061\u006c\u0064\u006c\u0074\u0040\u0076\u0074\u002e\u0065\u0064\u0075')</script></a>.
    </div>
</div>
{% endblock %}
