{% extends "base.html" %}
{% block content %}
<div id="main">
    <div id="welcome">
        <div class="title">
            <h2>About Me</h2>
        </div>
        <p>I am a Ph.D. candidate student in the Computer Science and Engineering department at the University of Minnesota working with 
Dr. Evan Suma Rosenberg. I received my B.S. in Electrical and Computer Engineering at the University of Minnesota Duluth under the advisement 
of Dr. Stan Burns and my M.S. in Computer Science at the University of Southern California under the advisement of Dr. Evan Suma Rosenberg. My
research interests include Human Computer Interaction, Virtual and Augmented Reality, Redirected Walking, and Collaborative Virtual Environments. I am currently finishing my Ph.D. studies and I am looking to stay in academia. As such I am currently searching for junior faculty and post-doc positions.</p>
    </div>
</div>
{% endblock %}
